<html>
    <head>
        <title>ironWar</title>
        <link rel="stylesheet" type="text/css" href="./assets/css/ironwar-{{id}}.css" />
        <script type="text/javascript" src="./lib/require.js"></script>
        <script type="text/javascript" src="./ironwar-{{id}}.js"></script>
        <script type="text/javascript" src="./bootstrap.js"></script>
    </head>
    <body>
    </body>
</html>
