<html>
    <head>
        <title>ironWar</title>
        <link rel="stylesheet" type="text/css" href="./assets/css/ironwar-{{id}}.css" />
        <script type="text/javascript" src="./lib/require.js"></script>
        <script type="text/javascript" src="./ironwar-{{id}}.js"></script>
        <script type="text/javascript" src="./bootstrap.js"></script>
    </head>
    <body>
        <div id="iron-war"></div>
        <footer>ironWar is an <a href="http://en.wikipedia.org/wiki/Open_source" target="blank">open source</a> game writen by the <a href="https://github.com/dawicorti/ironwar/network/members" target="blank">ironWar community</a></footer>
    </body>
</html>
