<div class="header">
</div>
<div class="menu">
    <button class="button create">Create a game</button>
    <button class="button join">Join a game</button>
    <button class="button options">Options</button>
    <button class="button logout">Logout</button>
</div>