<div class="login">
    <span class="logo"></span>
    <div class="login-form">
        <input type="text" class="user" placeholder="email" />
        <input type="password" class="password" placeholder="password" />
        <button class="connect">connect</button>
    </div>
</div>