<table>
    <thead>
        <tr>
            <th>Owner</th>
            <th>Game name</th>
        </tr>
    </thead>
    <tbody>
    
    {{#games}}
        <tr>
            <td>{{user}}</td>
            <td>{{name}}</td>
        </tr>
    {{/games}}

    </tbody>

</table>
