<div class="header">
    <div class="title">Owner</div>
    <div class="title"> Game name</div>
</div>
<div class="body">

{{#games}}
    <div class="line">
        <span class="cell">{{user}}</span>
        <span class="cell">{{name}}</span>
    </div>
{{/games}}

</div>

